<div class ="container">

  <div class="row img-box">
    <div class="img1"></div>
    <div class="img2"></div>
    <div class="img3"></div>
    <div class="img4"></div>
    <div class="img5"></div>
  </div>

  <div class ="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <%= link_to root_path do %>
            <i class="fa-solid fa-chevron-right" style="color: #828282;"></i>
          <% end %>
        </div>
        <div class="col">
          <div class="row">
          coastar
          </div>
          <div class="row">
          2024/8/3
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <%= link_to root_path do %>
        <i class="fa-solid fa-chevron-right" style="color: #828282;"></i>
      <% end %>
      accesories
    </div>
    <div class="col">
      <%= link_to root_path do %>
        <i class="fa-solid fa-chevron-right" style="color: #828282;"></i>
      <% end %>
      wall decoration
    </div>
  </div>

  <div class ="row  mt-30">
    EVEN
  </div>
</div>