<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <h1 class ="headline">
      <%= link_to "amimono", root_path%>
    <h1>
  </nav>
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <div class="mx-auto">
        <ul class="mb-0 d-flex align-items-center list-unstyled text-nowrap">
          <li class ="nav-list-item px-4 border-right">
            <%= link_to "About", about_path %>
          </li>
          <li class="nav-list-item px-4 border-right">
            <%= link_to "Works", works_path %>
          </li>
          <li class ="nav-list-item px-4 border-right">
            <%= link_to "New Work", new_work_path %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>