


    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">ブロク記事</a></li>
      <li><a href="#">会社概要</a></li>
      <li><a href="#">サービス１</a></li>
      <li><a href="#">サービス２</a></li>
      <li><a href="#">サービス３</a></li>
      <li><a href="#">会社案内ダウンロード</a></li>
      <li><a href="#">採用情報</a></li>
      <li><a href="#">お問い合わせ</a></li>
    </ul>


<nav>
  <div class="container">
    <div class="row bg-light mx-30">
      <div class="col">
        <h6 class="text-center">MENU</h6>
      </div>
      <div class="col">
        <h6 class="text-center">CATEGORIES</h6>
      </div>
    </div>
  </div>
</nav>